<%= form_with(model: tour, local: true) do |form| %>
  <% if tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
      <% tour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :tour_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :tour_description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :tour_price %>
  </div>

  <div class="field">
    <%= form.label :cover %>
    <%= form.text_field :cover, id: :tour_cover %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :tour_country %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :tour_city %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
