<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tour.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tour.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @tour.price %>
</p>

<p>
  <strong>Cover:</strong>
  <%= @tour.cover %>
</p>

<p>
  <strong>Country:</strong>
  <%= @tour.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @tour.city %>
</p>

<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>
